<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /news-page/
    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /news-page/index.html [L]
</IfModule>